@import url("../../variables.css");

.metabolism {
  display: inline-block;
  padding: 2px 3px;
}

.metabolism:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 2px 3px 0px;
}

.metabolism.fight,
.metabolism.flight,
.metabolism.focus {
  color: var(--hiddenSpace);
  text-shadow: 0px 0px 3px var(--physicalSpace);
  -webkit-text-stroke: 0.25px var(--hiddenSpace);
  border-color: var(--contractedSpace);
}

.metabolism.self,
.metabolism.near,
.metabolism.far {
  color: var(--physicalSpace);
  -webkit-text-stroke: 0.25px var(--physicalSpace);
  text-shadow: 0px 0px 3px var(--hiddenSpace);
  border-color: var(--hiddenSpace);
}

.metabolism.fight {
  background: var(--fight);
}
.metabolism.flight {
  background: var(--flight);
}
.metabolism.focus {
  background: var(--focus);
}
.metabolism.self {
  background: var(--self);
}
.metabolism.near {
  background: var(--near);
}
.metabolism.far {
  background: var(--far);
}

.classified .metabolism.fight {
  background: var(--fight);
}
.classified .metabolism.flight {
  background: var(--flight);
}
.classified .metabolism.focus {
  background: var(--focus);
}
.classified .metabolism.self {
  background: var(--self);
}
.classified .metabolism.near {
  background: var(--near);
}
.classified .metabolism.far {
  background: var(--far);
}

.metabolism.pair-left {
  padding-right: 20px;
}
.metabolism.pair-right {
  padding-left: 20px;
}

.metabolism-pair {
  display: inline-flex;
  overflow-y: hidden;
  position: relative;
  vertical-align: middle;
}

.pair-bond {
  display: inline-block;
  font-weight: bold;
  position: relative;
  text-shadow: 0px 0px 3px var(--physicalSpace);
}

.pair-bond:before {
  content: "";
  background: var(--entangledSpace);
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 2px;
  left: -7.3px;
  transform: rotate(45deg);
  z-index: 0;
}
.pair-bond:after {
  content: "+";
  font-size: 20px;
  left: -6.8px;
  position: absolute;
  top: -2.2px;
  z-index: 3;
}
