.App {
  margin: 0 auto;
  max-width: 800px;
}

.globalToggle {
  position: fixed;
  bottom: 3px;
  right: 3px;
  padding: 6px;
  z-index: 50;
}

.section.charSheetLink {
  display: inline-block;
  margin: 6px;
  padding: 6px;
}

@media print {
  body {
    background: none;
    -webkit-print-color-adjust: exact !important;
  }

  #root .App {
    max-width: 100%;
  }

  .globalToggle {
    display: none;
  }
}
