@media screen {
  .hiddenOnScreen {
    display: none !important;
  }
}
@media print {
  body {
    counter-reset: page;
  }
  @page {
    margin: 2cm;
    column-fill: auto;
    overflow: hidden;
    @bottom-center {
      font-size: 1rem;
      font-family: "burlingame", "Helvetica Neue", "Verdana", sans-serif;
      content: counter(page);
    }
  }
  @page chapterIntroPage {
    margin: 0;
    overflow: hidden;
    @bottom-center {
      content: none;
    }
  }
  @page originPage {
    margin: 0;
    padding: 0;
    @bottom-center {
      font-size: 1rem;
      font-family: "burlingame", "Helvetica Neue", "Verdana", sans-serif;
      content: counter(page);
    }
  }

  .App .section:has(.sectionChildren > .originPage) {
    padding: 0;
    margin: 0;
    break-inside: auto;
  }

  .App .section:has(.sectionChildren > .originPage):after {
    display: none;
  }

  .App .section .sectionHeader.hiddenInPrint {
    display: none;
  }

  .App .sectionChildren:has(> .originPage) {
    padding: 0;
    margin: 0;
    overflow: visible;
  }

  .App .section:has(.originPage) {
    overflow: visible;
  }

  .App .section:has(.originPage) > div {
    overflow: visible !important;
  }

  .App .sectionChildren.chapterContent:has(.originPage) {
    overflow: visible;
  }

  .hiddenInPrint {
    display: none !important;
  }

  .App .sectionChildren.chapterContent {
    column-count: 2;
    column-fill: auto;
    column-gap: 2cm;
    /* margin: 0 1cm; */
    overflow: hidden;
  }

  .App .section,
  .App .sectionChildren {
    margin: 0 0 12px 0;
    padding: 0;
  }

  .App .section p {
    margin: 0 0 3mm 0;
    padding: 0;
    font-size: 1.3rem;
  }
  .App .section li,
  .App .section table {
    font-size: 1.3rem;
  }

  .App .section h1.sectionHeader {
    display: none;
  }

  .App .section h2,
  .App .section h3,
  .App .section h4,
  .App .section h5 {
    background: none;
    margin: 0;
    padding: 0;
    position: static;
  }

  .App .section h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .App .section h2 {
    font-size: 2.5rem;
  }
  .App .section h3 {
    font-size: 2rem;
  }
  .App .section h4 {
    font-size: 1.8rem;
  }
  .App .section h5 {
    font-size: 1.5rem;
  }

  .App .section.depth1.openSection {
    padding: 0;
    position: relative;
    margin: 0;
    break-after: page;
    break-before: page;
  }

  .App .sectionCoordinates,
  .App .visibilityToggle {
    display: none;
  }

  .section.depth1:after {
    content: none;
    display: none;
  }

  .App .section.inset,
  .App .section.classified {
    padding: 2cm 0.5cm 1cm;
    margin: 0 0 1cm 0;
    background: none;
    break-inside: avoid;
  }
  .contentsList.inset:after,
  .contentsList.classified:after,
  .section.inset:after,
  .section.classified:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.5cm;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-3deg);
    z-index: -1;
  }
  .contentsList.inset:after,
  .section.inset:after {
    background: var(--contractedSpace);
    /* background: linear-gradient(180deg, #dbc1a8 50vh, #dbc1a800 90vh); */
  }
  .contentsList.classified:after,
  .section.classified:after {
    /* background: linear-gradient(180deg, #3a3242 50vh, #3a324200 90vh); */
    background: var(--hiddenSpace);
  }
  .App .classified.section .sectionHeader {
    background: none;
  }

  /* themes */
  .section.classified,
  .ChapterIntroSpreadRightPage.classified {
    /* background: var(--hiddenSpace); */
    color: var(--physicalSpace);
  }
  .section.classified .visibilityToggle {
    background: var(--hiddenSpace);
    color: var(--physicalSpace);
  }
  .section.classified p {
    color: var(--physicalSpace);
  }
  .section.classified h1,
  .section.classified h2,
  .section.classified h3,
  .section.classified h4,
  .section.classified h5 {
    background: var(--hiddenSpace);
    color: var(--physicalSpace);
  }

  .App .section.inset:has(.sectionChildren > .originPage) {
    padding: 0;
    margin: 0;
    break-inside: auto;
  }

  .App .section.inset:has(.sectionChildren > .originPage):after {
    display: none;
  }

  .App .crosslink {
    -webkit-text-stroke: 0px;
  }
  .App .charSheetLink {
    display: none;
  }
}
