@import url('../../variables.css');

.section.inset,
.section.inset h1,
.section.inset h2,
.section.inset h3,
.section.inset h4,
.section.inset h5 {
     background: var(--contractedSpace);
}

.section.classified,
/* .section.classified p, */
.section.classified .section,
.section.classified .crosslink,
.section.classified h1,
.section.classified h2,
.section.classified h3,
.section.classified h4,
.section.classified h5 {
    background: var(--hiddenSpace);
    color: var(--physicalSpace);
}

.section.hasAccentColor.metabSectionFight,
.section.hasAccentColor.metabSectionFight .sectionCoordinates,
.section.hasAccentColor.metabSectionFight .section,
.section.hasAccentColor.metabSectionFight h1,
.section.hasAccentColor.metabSectionFight h2,
.section.hasAccentColor.metabSectionFight h3,
.section.hasAccentColor.metabSectionFight h4,
.section.hasAccentColor.metabSectionFight h5 {
    background: var(--fight);
    color: var(--hiddenSpace);
    -webkit-text-stroke: 0.3px var(--hiddenSpace);
    text-shadow: 0px 0px 15px var(--physicalSpace);
}
.section.hasAccentColor.metabSectionFlight,
.section.hasAccentColor.metabSectionFlight .sectionCoordinates,
.section.hasAccentColor.metabSectionFlight .section,
.section.hasAccentColor.metabSectionFlight h1,
.section.hasAccentColor.metabSectionFlight h2,
.section.hasAccentColor.metabSectionFlight h3,
.section.hasAccentColor.metabSectionFlight h4,
.section.hasAccentColor.metabSectionFlight h5 {
    background: var(--flight);
    color: var(--hiddenSpace);
    -webkit-text-stroke: 0.3px var(--hiddenSpace);
    text-shadow: 0px 0px 15px var(--physicalSpace);
}
.section.hasAccentColor.metabSectionFocus,
.section.hasAccentColor.metabSectionFocus .sectionCoordinates,
.section.hasAccentColor.metabSectionFocus .section,
.section.hasAccentColor.metabSectionFocus h1,
.section.hasAccentColor.metabSectionFocus h2,
.section.hasAccentColor.metabSectionFocus h3,
.section.hasAccentColor.metabSectionFocus h4,
.section.hasAccentColor.metabSectionFocus h5 {
    background: var(--focus);
    color: var(--hiddenSpace);
    -webkit-text-stroke: 0.3px var(--hiddenSpace);
    text-shadow: 0px 0px 15px var(--physicalSpace);
}
.section.hasAccentColor.metabSectionSelf,
.section.hasAccentColor.metabSectionSelf .sectionCoordinates,
.section.hasAccentColor.metabSectionSelf .sectionChildren,
.section.hasAccentColor.metabSectionSelf .section p,
.section.hasAccentColor.metabSectionSelf .crosslink,
.section.hasAccentColor.metabSectionSelf h1,
.section.hasAccentColor.metabSectionSelf h2,
.section.hasAccentColor.metabSectionSelf h3,
.section.hasAccentColor.metabSectionSelf h4,
.section.hasAccentColor.metabSectionSelf h5 {
    background: var(--self);
    color: var(--physicalSpace);
    -webkit-text-stroke: 0.3px var(--physicalSpace);
    text-shadow: 0px 0px 15px var(--hiddenSpace);
}
.section.hasAccentColor.metabSectionNear,
.section.hasAccentColor.metabSectionNear .sectionCoordinates,
.section.hasAccentColor.metabSectionNear .sectionChildren,
.section.hasAccentColor.metabSectionNear .crosslink,
.section.hasAccentColor.metabSectionNear .section p,
.section.hasAccentColor.metabSectionNear h1,
.section.hasAccentColor.metabSectionNear h2,
.section.hasAccentColor.metabSectionNear h3,
.section.hasAccentColor.metabSectionNear h4,
.section.hasAccentColor.metabSectionNear h5 {
    background: var(--near);
    color: var(--physicalSpace);
    -webkit-text-stroke: 0.3px var(--physicalSpace);
    text-shadow: 0px 0px 15px var(--hiddenSpace);
}
.section.hasAccentColor.metabSectionFar,
.section.hasAccentColor.metabSectionFar .sectionCoordinates,
.section.hasAccentColor.metabSectionFar .sectionChildren,
.section.hasAccentColor.metabSectionFar .crosslink,
.section.hasAccentColor.metabSectionFar .section p,
.section.hasAccentColor.metabSectionFar h1,
.section.hasAccentColor.metabSectionFar h2,
.section.hasAccentColor.metabSectionFar h3,
.section.hasAccentColor.metabSectionFar h4,
.section.hasAccentColor.metabSectionFar h5 {
    background: var(--far);
    color: var(--physicalSpace);
    -webkit-text-stroke: 0.3px var(--physicalSpace);
    text-shadow: 0px 0px 15px var(--hiddenSpace);
}