@media screen {
  .hiddenOnScreen {
    display: none !important;
  }
}
@media print {
  body {
    counter-reset: page;
  }
  @page {
    margin: 1cm 0.5cm;
    column-fill: auto;
    @bottom-center {
      font-size: 12px;
      font-family: "burlingame", "Helvetica Neue", "Verdana", sans-serif;
      content: counter(page);
    }
  }
  @page chapterIntroPage {
    margin: 0;
    @bottom-center {
      content: none;
    }
  }


  .hiddenInPrint {
    display: none !important;
  }

  .App .sectionChildren.chapterContent {
    column-count: 2;
    column-gap: 0.5cm;
    column-fill: auto;
    margin: 0 0.5cm;
  }

  .App .section,
  .App .sectionChildren {
    margin: 0 0 12px 0;
    padding: 0;
  }

  .App .section p {
    margin: 0 0 3mm 0;
    padding: 0;
  }

  .App .section h1.sectionHeader {
    display: none;
  }

  .App .section h2,
  .App .section h3,
  .App .section h4,
  .App .section h5 {
    background: none;
    margin: 0;
    padding: 0;
    position: static;
  }

  .App .section h1 {
    font-size: 42px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .App .section.depth1.openSection {
    padding: 0;
    position: relative;
    margin: 0;
    break-after: page;
    break-before: page;
  }

  .App .sectionCoordinates,
  .App .visibilityToggle {
    display: none;
  }

  .section.depth1:after {
    content: none;
    display: none;
  }

  .App .section.inset,
  .App .section.classified {
    padding: 1.3cm 0 0.5cm 0;
    margin: 0 0 1cm 0;
    background: none;
    break-inside: avoid;
  }
  .contentsList.inset:after,
  .contentsList.classified:after,
  .section.inset:after,
  .section.classified:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.4cm;
    left: -0.2cm;
    right: -0.2cm;
    bottom: 0.1cm;
    transform: skewY(-4deg);
    z-index: -1;
  }
  .contentsList.inset:after,
  .section.inset:after {
    background: var(--contractedSpace);
  }
  .contentsList.classified:after,
  .section.classified:after {
    background: var(--hiddenSpace);
  }
  .App .classified.section .sectionHeader {
    background: none;
  }

  /* themes */
  .section.classified,
  .ChapterIntroSpreadRightPage.classified {
    background: var(--hiddenSpace);
    color: var(--physicalSpace);
  }
  .section.classified .visibilityToggle {
    background: var(--hiddenSpace);
    color: var(--physicalSpace);
  }
  .section.classified p {
    color: var(--physicalSpace);
  }
  .section.classified h1,
  .section.classified h2,
  .section.classified h3,
  .section.classified h4,
  .section.classified h5 {
    background: var(--hiddenSpace);
    color: var(--physicalSpace);
  }

  .App .crosslink {
    -webkit-text-stroke: 0px;
  }
  .App .charSheetLink {
    display: none;
  }
}
