.section {
    color: var(--hiddenSpace);
    position: relative;
    margin: 20px 0;
    line-height: 1.3;
}

.section.depth1.openSection {
    padding: 90px 0;
    margin: 90px 0;
    break-after: page;
    break-before: page;
}

.section.depth1:after {
    background: var(--physicalSpace);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: skewY(0);
    width: 100%;
    z-index: -1;
    transition: ease 0.5s;
    box-shadow: 0 1px 3px var(--hiddenSpace);
}

.section.depth1.openSection:after {
    content: "";
    transform: skewY(-9deg);
    z-index: -1;
} 

.sectionCoordinates {
    color: var(--physicalSpace);
    display: inline;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0;
}
.classified.section .sectionCoordinates {
    color: var(--hiddenSpace);
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5 {
    margin: 0;
    padding: 3px 12px 0;
}

.section li h1,
.section li h2,
.section li h3,
.section li h4,
.section li h5 {
    padding: 0;
}
  
.sectionHeader {
    cursor: pointer;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.section h1.sectionHeader {
    background: linear-gradient(-84deg, var(--hiddenSpace) 68.6px, var(--highlight) 69px);
    font-size: 33px;
    z-index: 40;
}

.section h2.sectionHeader {
    background: linear-gradient(-84deg, var(--hiddenSpace) 71.9px, var(--highlight) 72.3px);
    top: 43px;
    z-index: 30;
}

.section h3.sectionHeader {
    background: linear-gradient(-84deg, var(--hiddenSpace) 74.3px, var(--highlight) 74.6px);
    top: 75px;
    z-index: 20;
}
  
.section h4.sectionHeader {
    background: linear-gradient(-84deg, var(--hiddenSpace) 76.5px, var(--highlight) 77px);
    top: 100px;
    z-index: 10;
}
.section h5.sectionHeader {
    background: linear-gradient(-84deg, var(--hiddenSpace) 78.5px, var(--highlight) 79px);
    top: 123px;
    z-index: 9;
}
.classified.section h1.sectionHeader {background: linear-gradient(-84deg, var(--highlight) 68.6px, var(--darkHighlight) 69px);}
.classified.section h2.sectionHeader {background: linear-gradient(-84deg, var(--highlight) 71.9px, var(--darkHighlight) 72.3px);}
.classified.section h3.sectionHeader {background: linear-gradient(-84deg, var(--highlight) 74.3px, var(--darkHighlight) 74.6px);}
.classified.section h4.sectionHeader {background: linear-gradient(-84deg, var(--highlight) 76.5px, var(--darkHighlight) 77px);}
.classified.section h5.sectionHeader {background: linear-gradient(-84deg, var(--highlight) 78.5px, var(--darkHighlight) 79px);}

.section h5.subheader {
    font-size: 14px;
    position: static;
}

.section p {
    font-size: 12px;
    margin: 0;
    padding: 12px;
    text-align: justify;
}

.section li {
    margin: 12px 0;
    font-size: 12px;
}

.section strong {
    -webkit-text-stroke: 0.4px var(--hiddenSpace);
}

.classified.section strong {
    -webkit-text-stroke: 0.4px var(--physicalSpace);
}

.section .eventName {
    font-style: italic;
}

.section table {
    font-size: 12px;
    border-spacing: 0;
    margin: 0 10px;
    width: calc(100% - 20px);
}
.section thead {
    background: var(--contractedSpace);
}
.section td {
    padding: 3px;
}

.sectionChildren {
    padding: 12px 0;
    position: relative;
}

.visibilityToggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 12px;
    top: 2px;
    color: var(--hiddenSpace);
    border-style: solid;
    border-width: 1px;
    border-color: var(--hiddenSpace);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.classified.section .visibilityToggle {
    color: var(--physicalSpace);
    border-color: var(--physicalSpace);
}

.visibilityToggle:hover {
    font-weight: bold;
    border-width: 2px;
    padding: 2px;
}

.logomark-svg {
    display: block;
    margin: 0 auto;
    width: 20%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
