.crosslink {
    background: linear-gradient(0deg, rgba(0,0,0,.05) 30%, rgba(255,255,255,0) 30%);
    color: #000;
    text-decoration: none;
    -webkit-text-stroke: 0.1px #000;
}

.classified .crosslink {
    color: #fff;
    -webkit-text-stroke: 0.1px #fff;
}

.crosslink:hover {
    background: linear-gradient(0deg, rgba(0,0,0,.15) 60%, rgba(255,255,255,0) 60%);
}

.crosslink:active {
    color: #fff;
    background: linear-gradient(180deg, rgba(0,0,0,.8) 99%, rgba(255,255,255,0) 99%);
    -webkit-text-stroke: 0;
}