.crosslink {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 30%, rgba(255, 255, 255, 0) 30%);
  color: var(--hiddenSpace);
  text-decoration: none;
  -webkit-text-stroke: 0.3px var(--hiddenSpace);
}
.crosslink.specializationLink {
  font-style: italic;
}

.classified .crosslink {
  color: var(--physicalSpace);
  background: linear-gradient(0deg, rgba(220, 210, 190, 0.15) 30%, rgba(220, 210, 190, 0) 30%);
  -webkit-text-stroke: 0.3px var(--physicalSpace);
}

.crosslink:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 60%, rgba(255, 255, 255, 0) 60%);
}

.crosslink:active {
  color: var(--physicalSpace);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 99%, rgba(255, 255, 255, 0) 99%);
  -webkit-text-stroke: 0;
}

.classified .crosslink:hover {
  background: linear-gradient(0deg, rgba(220, 210, 190, 0.25) 60%, rgba(220, 210, 190, 0) 60%);
}
