html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #ccc;
  margin: 0;
  font-family: 'burlingame', 'Helvetica Neue', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul { 
  list-style: square;
}
