html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #fcf3e4; /* like phys space but extra light */
  margin: 0;
  font-family: 'burlingame', 'Helvetica Neue', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: square;
}